extends ./layouts/main

block content
    .container.activityForm
        form(action="/activity/post", method="post", enctype="multipart/form-data")
            input(type="text", name="text", id="text")
            input(type="file", name="file", id="file")
            input(type="submit", value=__('Upload Image')).button
    .container.activityFeed
        for activity in activityFeed
            if(activity.type === 'post')
                - content = activity.content
                - id = activity.id
            if(activity.type === 'reflow')
                - content = activity.content.post.content
                - id = activity.content.post.id
            .post(data-id=id)
                if(content.image)
                    .image
                        img(src=content.image.link)
                if(content.images)
                    .images
                        for image in content.images
                            img(src=image.link)
                .body #{content.body}
                .meta
                    span.notes #{content.notes} #{content.notes === 1 ? __('note') : __('notes')}
                    .actions
                        a(href="#reflow").reflow
                            i.fa.fa-bolt
                        a(href="#heart").heart
                            i.fa.fa-heart
